body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: gold;
}

header {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: blueviolet;
}

li {
  display: inline;
}

/* img { */

/* } */

h1 {
  padding: 10px 0px 0px 100px;
  /* display: inline; */
}
