* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  font-size: 62.5%;
}

body {

  background-color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* color: rgba(255, 217, 4, 0.741); */
  margin:2rem;
  background-image: linear-gradient(palegoldenrod, black);
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(33, 41, 71);
  margin-top: 3rem;
  padding: 1rem;
  height: 30rem;
  width: auto;
  line-height: 27rem;
  border: 1rem groove rgb(79, 123, 190);
  color:rgb(220, 220, 220)
}

nav {
  /* justify-content: center;
  margin-top: 2rem; */
  /* background-color:rgb(255, 255, 255); */
  /* padding: 1rem; */
  font-size: 2rem;
  line-height:30rem;
  height:30rem;
  
}

h1 {
  font-size: 5rem;
}

li {
  display:inline-flex;
  justify-content: space-around;
  font-size: 1.6rem;
  padding: 2rem;

}

main {
  display: flex;
  flex-wrap: wrap;
}

.headshot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  max-height: 26rem;
  border: 0.5rem inset silver;
}

.pageBreak1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(79, 123, 190);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  border: .4rem double khaki; 
}