* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {

  background-color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(255, 217, 4, 0.741);
  margin: 1rem;
  background-color: rgb(22, 22, 21); 
}

header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  height: 30rem;
  line-height: 25rem;
  background-color: rgb(33, 41, 71);
  border: 1rem groove rgb(129, 128, 125);
  color:rgb(220, 220, 220)
}

header h1 {
  display: inline-block;
  font-size: 5rem;
  color:rgba(255, 217, 4, 0.741);
}

.headshot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-height: 26rem;
    border: 0.5rem inset silver;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  font-size: 3rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}
.pageBreak1 {
  width: 100%;
  background-color: rgb(17, 18, 20);
  padding: .5rem;
  margin-bottom: 2rem; 
  border: .5rem double rgb(103, 104, 106); 
}

main {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(palegoldenrod, black);
}


.projects {
  display: inline-block;
}


h3 {
  font-size: 3rem;
}

h2, h3, p {
  color:rgb(25, 51, 76)
}



.horiseon {
  display: flex;
  color: white;
  font-size: 3rem;
  align-items;
}

h3 {}

.main-project-image {
  max-width: 50rem;
}

.coming-soon, .coming-soon2, .coming-soon3, .coming-soon4 {
  width: 25rem;
}


li {
  display:inline-flex;
  justify-content: space-around;
  font-size: 1.6rem;
  padding: 2rem;
}

.aboutMe {
  display: flex;
  color: white;
  font-size: 3rem;
}

.justify-right {
  display: flex;
  font-size: 2rem;
  text-align: right;
  width: 75%;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  padding: 1rem;
  height: 30rem;
  width: auto;
  line-height: 27rem;
  background-color: rgb(33, 41, 71);
  border: 1rem groove rgb(79, 123, 190);
  color:rgb(220, 220, 220)
}



